{% extends "cms/base.html" %}
{% load bootstrap4 %}

{% block title %}글 작성 / 수정{% endblock title%}

{% block content %}
<h4 class="mt-4 mb-5 border-bottom">글 작성 / 수정</h4>
 {% if book_id %}
    <form action="{% url 'cms:book_modify' book_id=book_id %}" method="post">
 {% else %}
    <form action="{% url 'cms:book_add' %}" method="post">
 {% endif %}
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}

        <div class="form-group row">
            <div class="offset-md-3 col-md-9">
                <button type="buttom" class="btn btn-primary float-right">글 작성</button>
            </div>
        </div>
    </form>

    <a href="{% url 'cms:book_list' %}" class="btn btn-secondary btn-sm">돌아가기</a>
{% endblock content %}
